.products{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10%;
    text-align: center;
    .product{
        &__image{
            margin: 30px;
            width: 190px;
        }
    }
}