@import '../02-Tools/mixins.scss';
.solutions{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10%;
    text-align: center;
    margin-bottom: 10%;
    .solution{
        width: 150px;
        text-align: center;
        &__icon{
            margin: 20px;
            width:70%;
        }
    }
}


