.footer-container{
    background-color: $primary-color;
    color: lightgray;
    .footer{
        background-color: rgb(41, 39, 39);
        .footer-header{
            color: $outline-color;
        }
    }
}