@import '../01-Settings/variables.scss';
.dark{
    background-color: $primary-color;
}
.nav-links{
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: $white;
    padding: 14px 5px;
    border-bottom: 3px solid $primary-color;
    &:hover{
        color: $outline-color;
    }
    &:focus,&:active{
        border-bottom: 3px solid $outline-color;
    }
}
