/* screen widths for different devices*/
$small-width-min:320px;
$small-width-max:480px;
$medium-width-min:481px;
$medium-width-max:768px;
$large-width-min:769px;
$large-width:1024px;

/* colors*/
$primary-color:rgb(34, 34, 34);
$white:white;
$outline-color:#0789fb;
$secondary-color:#047cf4;
$icon-color:#407BFF;
