@import '../../02-Tools/mixins.scss';
.nissi-logo{
    margin: 20px;
}
.footer-container{
    margin-top: 200px;
}
@include large-screen{
    .nissi-logo{
        margin-left: 180px;
    }
    .footer-container{
        padding: 50px 0;
        text-align: left;
    }
    .footer{
        margin: 0 180px;
        padding: 20px 50px;
        text-align: left;
        display: flex;
        justify-content: space-between;
        &__address-container{
            width: 300px;
        }
        .socials{
            display: flex;
            justify-content: space-around;
        }
    }
    .copyright{
        padding: 20px 0;
        text-align: center;
    }
}
@include small-screen{
    .footer-container{
        padding: 20px 0;
    }
    .footer{
        padding: 20px 5px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &__address-container{
            margin: 0 25%;
            width: 50%;
        }
        &__connect,&__know-us{
            padding-top: 5px;
        }
        .socials{
            display: flex;
            justify-content: center;
            gap: 15px;
        }
    }
    .copyright{
        text-align: center;
    }
}
