@import '../../01-Settings/variables.scss';
.products{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10%;
    text-align: center;
    margin-bottom: 10%;
    background-color: $background-color;
    padding: 100px 50px;
    .product{
        &__image{
            margin: 30px;
            width: 190px;
        }
    }
}