@import '../../02-Tools/mixins.scss';
@import '../../01-Settings/variables.scss';
.solutions-header{
    text-align: center;
    padding: 5px 0;
    font-weight: 700;
    color: $secondary-color;
}
.solutions{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5%;
    text-align: center;
    padding-bottom: 3%;
    .solution{
        width: 300px;
        margin: 30px 10px;
        padding: 15px;
        border-radius: 25px 0 25px 0;
        text-align: center;
        background-color: rgb(239, 237, 237);
        &__icon{
            width:100%;
        }
        &__header{
            font-weight: 600;
        }
    }
}
@include medium-screen{
    .solutions{
        width: 100%;
        gap: 5%;
        .solution{
            width: 270px;
            margin: 10px 10px;
        }
    }
}

