@import '../../02-Tools/mixins.scss';
.team{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .person{
       text-align: center;
    }
}
@include small-screen{
    .team{
        padding: 0 20px;
        display: flex;
        flex-wrap: wrap;
        .person:nth-child(1),
        .person:nth-child(2),
        .person:nth-child(3){
            width: 80%;
        }
        .person{
            width: 30%;
            margin: 5px;
            &__pic{
                width: 100%;
            }
        }
    }
}
@include medium-screen{
    .team{
        padding: 0 20px;
        display: flex;
        flex-wrap: wrap;
        .person:nth-child(1),
        .person:nth-child(2),
        .person:nth-child(3){
            width: 30%;
        }
        .person{
            width: 30%;
            margin: 5px;
            &__pic{
                width: 100%;
            }
        }
    }
}
@include large-screen{
    .team{
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2%;
        padding: 0 50px;
        .person:nth-child(1),
        .person:nth-child(2),
        .person:nth-child(3){
           width: 30%;
           color: $mono-color;
           background-color: $background-color;
           font-weight: 600;
           margin: 0;
           .person__name{
            margin-top: 15px;
            margin-bottom: 0;
           }
           .person__pic{
            width: 100%;
            height: 75%;
           }
        }
        .person{
            margin: 10px;
            width: 150px;
            &__pic{
                height: 65%;
                width: 85%;
            }
            .person__name{
                margin-top: 0;
                margin-bottom: 0;
            }
        }
    }
}
