@import '../../02-Tools/mixins.scss';
.advantages{
    display: flex;
    flex-wrap: wrap;
    gap: 10%;
    justify-content: center;
    .advantage-card{
        text-align: center;
    }
}
@include large-screen{
    .advantages{
        margin: 10px 200px;
    }
    .advantage-card{
        width: 240px;
        margin-bottom: 60px;
        background-color: $background-color;
        padding: 15px;
        border-radius: 25px 0 25px 0;
        h6{
            font-size: 1.2em;
            margin-top: 20px;
        }
        .advantage-image{
            width: 100%;
        }
    }
}
@include small-screen{
    .advantage-card{
        margin-top: 20px;
        width: 80%;
        h6{
            padding: 20px;
            font-size: 1em;
            font-weight: 600;
        }
        .advantage-image{
            width: 100%;
        }
    }
}
@include medium-screen{
    .advantage-card{
        margin-top: 20px;
        width: 80%;
        h6{
            padding: 20px;
            font-size: 1em;
            font-weight: 600;
        }
        .advantage-image{
            width: 70%;
        }
    }
}
