@import '../02-Tools/mixins.scss';
.about-page{
    text-align: center;
    display: flex;
    flex-direction: column;
}
@include small-screen{
    .about-page{
        text-align: left;
        margin: 0 5px;
        &__sub-heading{
            margin: 7px 0;
        }
    }
}
@include large-screen{
    .about-page{
        margin: 50px 200px;
    }
    .about,.we,.mission{
        width: 600px;
        text-align: left;
        padding: 50px;
    }
    .about,.we{
        align-self: flex-start;
    }
    .mission{
        align-self: flex-end;
    }
    .journey{
        text-align: left;
        align-self: center;
        width: 800px;
        .journey-head{
            margin-top: 70px;
        }
    }
    .team-head,.achievements{
        margin-top: 100px;
    }
}