@import '../../02-Tools/mixins.scss';
@import '../../01-Settings/variables.scss';
.contact-header{
    font-weight: 600;
}
.contact-form{
    input::placeholder,textarea::placeholder{
        color: rgb(27, 123, 220);
    }
    input,textarea{
        padding: 5px 10px;
    }
}
.error-message{
    margin: 0;
    margin-left: 25px;
    color: rgb(241, 71, 71);
}
.address-container{
    .sub-heading{
        font-weight: 600;
        color:$outline-color ;
    }
}
.submit-button{
    border: 0;
    background-color: dodgerblue;
    color: white;
    padding: 5px 0;
}
.submit-button:hover{
    opacity: 0.9;
}
@include large-screen{
    .contact-form-container{
        margin: 50px 200px;
        display: flex;
        justify-content: center;
        gap: 10%;
        .address-container{
            padding-top: 8%;
            width: 30%;
            display: flex;
            flex-direction: column;
            p{
                font-size: 1.2em;
            }
        }
    }
    .contact-form{
        margin-top: 20px;
        &__inputs{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            input,textarea,button{
                margin: 15px;
            }
        }
    }
}
@include small-screen{
    .contact-form{
        display: flex;
        margin: 10px 5px;
        &__inputs{
            width: 100%;
            display: flex;
            flex-direction: column;
            input,textarea,button{
                margin: 7px;
            }
        }
    }
    .contact-form-container{
        .address-container{
            display: none;
         }
    }
}
