@import '../../02-Tools/mixins.scss';
@import '../../01-Settings/variables.scss';
.link{
    padding: 10px;
    width: 40%;
    text-align: center;
    text-decoration: none;
    font-weight: 100;
    color: white;
}
.contact-link{
    background-color: $primary-color;
}
.work-link{
    background-color: $outline-color;
}
.home-page{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10%;
    &__header{
        font-weight: 600;
        letter-spacing: 3px;
    }
    &__desc{
        padding-top: 10%;
        display: flex;
        flex-direction: column;
    }
    .button-container{
        padding-top: 1%;
        display: flex;
        gap: 10px;
    }
}
@include small-screen{
    .home-page{
        &__desc{
            width: 80%;
            p{
                font-size: 1em;
            }
        }
        &__header{
            font-size: 1.8em;
        }
        &__image{
           padding-top: 7%;
           width: 100%;
        }
        .button-container{
            gap: 10px;
        }
        .link{
            width: 100%;
            font-size: 1em;
        }
    }
}
@include large-screen{
    .nissi-logo-navbar{
        margin-left: 100px;
        margin-right: 50px;
    }
    .home-page{
        &__desc{
            padding-top: 8%;
            width: 40%;
            p{
                margin: 30px 0;
                font-size: 1.3em;
            }
        }
        &__header{
            font-size: 2.3em;
        }
        &__image{
           padding-top: 5%;
           width: 35%;
           height: 23%;
        }
        .button-container{
            gap: 5%;
            .link{
                font-size: 1.3em;
            }
        }
    }
}
