@import '../../02-Tools/mixins.scss';
@import '../../01-Settings/variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');
.link{
    padding: 10px;
    width: 40%;
    text-align: center;
    text-decoration: none;
    color: $white;
}
.projects-header{
    color: $secondary-color;
    text-align: center;
    font-weight: 700;
    margin-bottom: 25px;
}
.contact-link:hover,.work-link:hover{
    color: $white;
}
.contact-link{
    background-color: $primary-color;
    &:hover{
        color: $white;
        background-color: black;
    }
}
.work-link{
    background-color: $outline-color;
    &:hover{
        color: $white;
        background-color: $secondary-color;
    }
}
.home-page{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10%;
    padding-bottom: 100px;
    &__header{
        line-height: 1.3;
        font-family: 'Source Serif Pro', serif;
        letter-spacing: 2px;
        width: 90%;
        font-weight: 800;
        color: $secondary-color;      
    }
    &__desc{
        padding-top: 10%;
        display: flex;
        flex-direction: column;
    }
    .button-container{
        padding-top: 1%;
        display: flex;
        gap: 10px;
    }
}
@include small-screen{
    .home-page{
        &__desc{
            width: 80%;
            p{
                font-size: 1em;
            }
        }
        &__header{
            font-size: 1.8em;
        }
        &__image{
           padding-top: 7%;
           width: 100%;
        }
        .button-container{
            gap: 10px;
        }
        .link{
            width: 100%;
            font-size: 1em;
        }
    }
}
@include medium-screen{
    .home-page{
        &__desc{
            width: 80%;
            p{
                font-size: 1.5em;
            }
        }
        &__header{
            font-size: 2em;
        }
        &__image{
           padding-top: 7%;
           width: 80%;
        }
        .button-container{
            gap: 10px;
        }
        .link{
            width: 100%;
            font-size: 1.2em;
        }
    }
}
@include large-screen{
    .nissi-logo-navbar{
        margin-left: 100px;
        margin-right: 50px;
    }
    .home-page{
        &__desc{
            padding-top: 8%;
            width: 40%;
            p{
                margin: 30px 0;
                font-size: 1.3em;
            }
        }
        &__header{
            font-size: 3em;
        }
        &__image{
           padding-top: 5%;
           width: 35%;
           height: 23%;
        }
        .button-container{
            gap: 5%;
            .link{
                font-size: 1.3em;
            }
        }
    }
}
