@import '../../02-Tools/mixins.scss';
.work-page{
    text-align: center;
    .work{
        text-align: left;
        &__header{
            padding-top:100px;
            font-weight: 700;
            color: $secondary-color;
        }
    }
    .portfolio{
        margin-top:150px ;
    }
    &__header{
        font-weight: 700;
        margin: 50px 0;
        color: $secondary-color;
    }
}
@include small-screen{
    .work-page{
        .work{
            width: 95%;
            margin: 30px 8px;
            &__header{
                padding-top:10px ;
            }
        }
        .portfolio{
            margin:20px 0 ;
        }
        &__header{
            margin: 20px 0;
        }
    }
}
@include medium-screen{
    .work-page{
        .work{
            width: 95%;
            margin: 30px 8px;
            &__header{
                padding-top:10px ;
            }
        }
        .portfolio{
            margin:20px 0 ;
        }
        &__header{
            margin: 20px 0;
        }
    }
}
@include large-screen{
    .has-background{
        background-image: linear-gradient(to bottom,rgba(41, 41, 41, 0.61),rgba(18, 42, 66, 0.677)), url('../../../assests/back.jpg');
        height: 580px;
        .work{
            color: $white;
            font-size: 1.2em;
        }
    }
    .work-page{
        .work{
            height: 50vh;
            width: 600px;
            margin: 50px 250px;
            margin-top: 0;
        }
    }
}