@import '../../01-Settings/variables.scss';
@import '../../02-Tools/mixins.scss';
.wow-container{
    text-align: center;
    .wow__sub-header{
        margin-top: 100px;
        font-weight: 700;
        color: $secondary-color;
    }
}
.wow{
    text-align: left;
    &__header{
        color: $secondary-color;
        font-weight: 700;
    }
}
.process{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.process-name{
    font-weight: 600;
    color: $secondary-color;
}
.tech-icon-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    .tech-icon{
        color: $secondary-color;
    }
}
.tech-head{
    color:$primary-color;
    font-weight: 600;
    margin-top: 100px;
}
@include large-screen{
    .wow{
        background-image: linear-gradient(to bottom,rgba(41, 41, 41, 0.61),rgba(18, 42, 66, 0.677)),url('../../../assests/wowback.jpg');
        width: 100%;
        padding: 90px 0;
        &__header{
            margin-left:180px;
            margin-bottom: 20px;
        }
        &__desc{
            width: 50%;
            margin-left:180px;
            color: $white;
            font-size: 1.2em;
        }
    }
    .process{
        margin: 40px 100px;
        .process-card{
            display: flex;
            justify-content: space-around;
            width: 70%;
            margin: 30px 20px;
            padding: 20px;
            background-color: $background-color;
            border-radius: 25px 0 25px 0;
            .desc-container{
                text-align: center;
                width:40%;
                .process-name{
                    margin-top: 100px;
                    margin-bottom: 10px;
                    font-size: 1.3em;
                }
                .process-desc{
                    margin: 2px 10px;
                }
            }
            .process-image{
                width: 50%;
            }
        }
        .process-card:nth-child(1),
        .process-card:nth-child(3),
        .process-card:nth-child(5){
            align-self: flex-start;
        }
        .process-card:nth-child(2),
        .process-card:nth-child(4),
        .process-card:nth-child(6){
            align-self: flex-end;
        }

    }
    .tech-icon-container{
        margin: 50px 380px;
        margin-bottom: 150px;
        .tech-icon{
            font-size: 5em;
            margin: 20px 40px;
        }
    }
}
@include small-screen{
    .wow-container{
        .wow__sub-header{
            margin-top: 50px;
            margin-bottom: 0;
        }
    }
    .wow{
        width: 100%;
        padding: 10px;
        &__header{
            margin: 20px 0;
        }
        &__desc:nth-child(2){
            display: none;
        }
    }
    .tech-icon-container{
        margin:70px 20px;
        margin-bottom: 100px;
        .tech-icon{
            font-size: 4em;
            margin: 5px ;
        }
    }
    .process{
        .process-card{
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            width: 100%;
            margin: 20px 10px;
            .process-image{
                width: 80%;
            }
            .process-name{
                margin: 5px;
            }
        }
    }
}
@include medium-screen{
    .wow-container{
        .wow__sub-header{
            margin-top: 50px;
            margin-bottom: 0;
        }
    }
    .wow{
        width: 100%;
        padding: 10px;
        &__header{
            margin: 20px 0;
        }
        &__desc:nth-child(2){
            display: none;
        }
    }
    .tech-icon-container{
        margin:70px 20px;
        margin-bottom: 100px;
        .tech-icon{
            font-size: 4em;
            margin: 5px ;
        }
    }
    .process{
        .process-card{
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            width: 60%;
            margin: 20px 10px;
            .process-image{
                width: 80%;
            }
            .process-name{
                margin: 5px;
            }
        }
    }
}
